<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Controversy</title>
	<script id="post-template" type="text/x-handlebars-template" src="handlebars.compile"></script>
</head>
<body>
	
</body>
</html>