/* -- sign in modal window -- */

@mixin background-opacity($color, $opacity: 1) {
    background: $color;
    /* The Fallback */
    background: rgba($color, $opacity);
}




/* modal sign-up window*/

.modalForm {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include background-opacity(black, 0.85);
}




/* handles submit events from login submit and Sign-up modal forms*/

.display {
    display: none;
    transform: all .35s ease-in;
}



/* hides appearance of login and Sign-up modal forms until asked for*/

.modalDisplay {
    display: none;
}

.modalContent {
    box-sizing: border-box;
    background-color: $bgColor;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px 5%;
}



/* The Close Button (x) upper right corner*/

.xClose {
    position: absolute;
    right: 20px;
    top: 10px;
    color: $secondaryColor;
    font-size: 1.7em;


    &:hover,
    &:focus {
        color: $primaryColor;
        cursor: pointer;
    }
}


.welcome h1 {
    text-align: center;
    font-size: 1.7em;
    color: $secondaryColor;
    text-align: left;
    margin-bottom: 40px;
}

.errDisplay {
    background-color: $ErrorColor;
    font: $formFont;
    color: $bgColor;
    border: 1px solid $ErrorColor;
    padding: 10px 20px 10px;
    margin-bottom: 20px;
    position: relative;
}

.errDisplay:before {
        content: 'Attention: ';
    }

.modalIcon {
    position: absolute;
    top: 0;
    left: -500px;
    width: 26px;
    z-index: 10;
    opacity: 0;
}

.iconRight {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: all .55s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.dividerOr {
    text-align: center;
    margin-bottom: 30px;
    color: $secondaryColor;
    font-size: .8em;
    position: relative;
}

.dividerOr:before, .dividerOr:after {
    content: '';
    position: absolute;
    display: block;
    width: 45%;
    top: 9px;
    border-bottom: 1px solid $secondaryColor;
}

.dividerOr:after {
    right: 0;
}


