/* -- Sass varaible declaration -- */

/* -- $Typography -- */
$fontBody: 300 1em 'Merriweather', serif;

$fontLogo: 400 2.25em 'Vast Shadow', cursive;

$formFont: 300 .9em sans-serif;



/* -- $color -- */

$primaryColor: #ec7705;

$secondaryColor: #999;

$bgColor: #F4F4F4;

$modalBG: white;

$ErrorColor: red;



/* -- $breakpoints -- */

$bpMobile: 600px;

$bpTablet: 768px;