/* -- Sass varaible declaration -- */

/* -- $Typography -- */
$fontBody: 300 1em 'Merriweather', serif;

$fontLogo: 800 2.25em 'Montserrat', sans-serif;

$formFont: 300 .9em 'Roboto', sans-serif;


/* -- $color -- */

$primaryColor: #ec7705;

$secondaryColor: #999;

$bgColor: #F4F4F4;

$modalBG: white;

$ErrorColor: red;



/* -- $breakpoints -- */

$bpMobile: 600px;

$bpTablet: 768px;