

/*. Dupe from main css to be deleted. */
@import 'var';


body {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font: $fontBody;
}

.headWrapper {
    padding: 6px 50px 10px;
    background-color: $bgColor;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    font: $fontLogo;
    flex: 3;
}


/* ---------- end duplication ----------*/


.rowWrapper {
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font: $formFont;
	background-color: $bgColor;
	padding: 20px;
}

.vote-column {
    flex: 1;
    text-align: center;
    font-weight: 700;

}

.voteWrapper {
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
}

.vote {
        font: $formFont;
        font-size: .2em;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;

        &:hover {
        	opacity: 1;
            cursor: pointer;
        }
    }

.voteCount {
    padding: 10px;
}

.arrow {
    
}

.downArrow {
    width: 50px;
    height: 45px;
    position: relative;
    cursor: pointer;
}

.upArrow {
    @extend .downArrow
}

.photo-column {
	flex: 1;
	width: 35px;
}



.info-column {
	flex: 3;

}

.bName {
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 15px;

}

.bAddress {
    margin-bottom: 15px;
}







