/* -- Sass varaible declaration -- */
/* -- $Typography -- */
/* -- $color -- */
/* -- $breakpoints -- */
/*@import 'display';
*/
/* -- sign in modal window -- */
/* modal sign-up window*/
.modalForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.85); }

/* handles submit events from login submit and Sign-up modal forms*/
/*.display {
    display: none;
    transform: all .35s ease-in;
}*/
/* hides appearance of login and Sign-up modal forms until asked for*/
.modalDisplay {
  display: none;
  -webkit-transform: all .35s ease-in;
          transform: all .35s ease-in; }

.modalContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  padding: 50px 3%;
  max-width: 510px; }

/* The Close Button (x) upper right corner*/
.xClose {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #999;
  font-size: 1.7em; }
  .xClose:hover, .xClose:focus {
    color: #ec7705;
    cursor: pointer; }

.welcome h1 {
  text-align: center;
  font-size: 1.7em;
  color: #999;
  text-align: left;
  margin-bottom: 40px; }

.errDisplay {
  background-color: red;
  font: 300 0.9em "Roboto", sans-serif;
  color: white;
  border: 1px solid red;
  padding: 10px 20px 10px;
  margin-bottom: 20px;
  position: relative; }
  .errDisplay:before {
    content: 'Attention: '; }

.modalIcon {
  position: absolute;
  top: 0;
  left: -500px;
  width: 26px;
  z-index: 10;
  opacity: 0; }

.iconRight {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
  -webkit-transition: all 0.55s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.55s cubic-bezier(0.31, -0.105, 0.43, 1.4); }

.dividerOr {
  text-align: center;
  margin-bottom: 30px;
  color: #999;
  font-size: .8em;
  position: relative; }
  .dividerOr:before, .dividerOr:after {
    content: '';
    position: absolute;
    display: block;
    width: 45%;
    top: 9px;
    border-bottom: 1px solid #999; }
  .dividerOr:after {
    right: 0; }

.navLabel:hover {
  color: #999; }

.logLabel {
  position: relative;
  width: 20px; }

.head {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

/* -- Video on landing pagew -- */
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: url(taco.jpg) no-repeat;
  background-size: cover; }

body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  font: 300 1em "Merriweather", serif; }

.headWrapper {
  padding: 6px 50px 10px;
  background-color: #F4F4F4;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  font: 800 2.25em "Montserrat", sans-serif;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.SearchWrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px; }

.background {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px; }

.col-3 {
  margin-right: 10px; }
  .col-3:last-child {
    margin-right: 0; }

.flexSize {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.flexSize1 {
  -webkit-box-flex: -4;
      -ms-flex: -4;
          flex: -4; }

.boxStyle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ec7705;
  padding: 10px 20px 10px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  /* for input label position*/
  text-align: center; }

p.description {
  font: 300 0.9em "Roboto", sans-serif;
  font-size: .9em;
  font-weight: 100;
  margin-bottom: 50px; }

/*  overflow controls the select dropdown arrows*/
.overflow {
  overflow: hidden;
  padding-left: 15px; }

/*  universal input field styles on all forms */
input {
  padding: 0;
  color: #ec7705 !important;
  /* adds input field name to top of field test */ }
  input::-webkit-input-placeholder {
    font: 300 0.9em "Roboto", sans-serif;
    color: #999; }
  input:-ms-input-placeholder {
    font: 300 0.9em "Roboto", sans-serif;
    color: #999; }
  input::placeholder {
    font: 300 0.9em "Roboto", sans-serif;
    color: #999; }
  input:placeholder-shown + label {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  input:focus {
    outline: none;
    border-color: #fff; }

textarea {
  width: 100%; }
  textarea:placeholder {
    text-align: left; }

label {
  font: 300 0.9em "Roboto", sans-serif;
  color: #999;
  background-color: white;
  border: 1px solid #ec7705;
  border-width: 0 1px 0 1px;
  position: absolute;
  top: 0;
  left: 20px;
  opacity: 1;
  padding: 0 5px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translateY(calc(-50% - 1px));
          transform: translateY(calc(-50% - 1px)); }

/*. Unversal button style for all pages and forms*/
button, input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border-style: none;
  outline: none;
  font: 300 0.9em "Roboto", sans-serif;
  line-height: 1.7;
  color: #fff;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: left;
  cursor: pointer; }

button:hover, input:hover {
  color: #999; }

.navLabel button, .navLabel input {
  font: 300 0.9em "Roboto", sans-serif;
  color: #ec7705;
  height: 40px; }
  .navLabel button:hover, .navLabel input:hover {
    color: #999; }

.btnLabel {
  font: 300 0.9em "Roboto", sans-serif; }

.Btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #999;
  background-color: #999;
  margin-bottom: 30px;
  overflow: hidden; }

.logContainer {
  display: none; }

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* icons for hover states */
.icon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 20px;
  height: 17px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4); }

.iconDown {
  z-index: 10;
  top: 0px; }

.titleText {
  font-size: 2.3em;
  line-height: 1.25;
  color: #999;
  margin-bottom: 25px; }

select {
  width: 150%;
  border: none;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-overflow: clip; }

select:focus {
  outline: none; }

#map {
  height: 300px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }

/*-- Responsive breakpoints --*/
@media screen and (min-width: 725px) and (max-width: 1000px) {
  .modalContent {
    width: 65%; }

  #map {
    max-height: 400px; } }
@media screen and (min-width: 601px) and (max-width: 724px) {
  .modalContent {
    width: 70%; }

  #map {
    height: 300px; } }
@media screen and (max-width: 600px) {
  .logo {
    font-size: 1.7em;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .headWrapper {
    padding: 6px 15px 10px; }

  .SearchWrapper {
    margin-top: 20px;
    width: 90%; }

  p.description {
    font-size: .85em; }

  .modalContent {
    width: 90%; }

  .titleText {
    font-size: 1.7em; }

  .boxStyle {
    margin-bottom: 15px; }

  .row {
    display: block; }

  #map {
    height: 250px; } }
/*@media screen and (max-width: 460px) {
    .modalContent {
        width: 90%;
    }
}*/

/*# sourceMappingURL=main.css.map */